<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
  <%- include ('../../public/menu/menuCliente.html')%>

    <form action="/admin/salvar_usuario/<%= usuario[0].id%>" method="post">

        <label>Nome</label> 
        <br>       
        <input type="text" name="nome" id="nome" value="<%= usuario[0].nome %>">
        <br>
        <label>email</label>      
        <br>
        <input type="text" name="email" id="email" value="<%= usuario[0].email %>">
        <br>
        <label>senha</label>      
        <br>
        <input type="password " name="senha" id="senha" >
        <br>
        <label>tipo usuario</label>
        <br>
        <select name="id_tipo_usuario">                         
            <% for(let i = 0; i < tipos.length; i++) { %>
              <option value="<%= tipos[i].id %>"><%= tipos[i].descricao %></option>                  
            <% } %>
          </select>
      
        <br><br>
        <input type="submit" value="salvar">
    </form>
</body>

</html>